footer {
    background-color: #070808;
}

.contatoContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin: 0rem auto;
    max-width: 130rem;
    padding: 5rem 2rem;
}

.contatoArea {
    display: grid;
    gap: 2rem;
}

.contatoTitulo {
    color: #B7C1C8;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    padding-bottom: 2rem;
}

.infoContato {
    display: flex;
    gap: 1rem;
}

.iconContato {
    width: 4rem;
}

.contato {
    font-size: 2.4rem;
}


@media (max-width: 1200px) {
    
    .contatoTitulo {
        font-size: 3.6rem;
    }

    .iconContato {
        width: 3rem;
    }

    .contato {
        font-size: 2rem;
    }
}

@media (max-width: 1010px) {

    .contatoTitulo {
        font-size: 3.2rem;
    }
}


@media (max-width: 850px) {

    .contatoContent {
        grid-template-columns: 1fr;
        max-width: 45rem;
        gap: 0rem;
    }

    .contatoTitulo {
        font-size: 2.8rem;
    }

    .iconContato {
        width: 2.5rem;
    }

    .contato {
        font-size: 1.8rem;
    }

    .descricaoContato {
        padding-bottom: 0rem;
    }
}

@media (max-width: 500px) {
    
    .contatoContent {
        gap: 4rem;
    }
}