.introducao {
    background-image: linear-gradient(#000E18, #050607);
    padding: 0rem 2rem;
}

.introContent {
    max-width: 130rem;
    margin: 0rem auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10rem;
    align-items: center;
    padding: 13rem 0rem;
}

.programadorImg {
    width: 100%;
}

.tituloPrincipal{
    color: #F0F2F4;
    font-family:'Fira Code', monospace;
    font-size: 6rem;
    padding-bottom: 3rem;
}

.subtituloPrincipal {
    color: #3583BA;
    font-family: 'Fira Code', monospace;
    font-weight: 300;
    font-size: 4.rem;
    line-height: 6rem;
    padding-bottom: 1rem;
}

.detalheIntro {
    display: block;
    background-color: #402600;
    height: 0.5rem;
    width: 62rem;
    border-radius: 0.5rem;
}

.descricao {
    color: #D4DADE;
    max-width: 80rem;
    margin: 0rem auto;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.3;
    padding-bottom: 5rem;
}

.descricao a {
    color: #3583BA;
    text-decoration: underline;
}

.descricao a:hover {
    color: #083E65;
}

@media (max-width: 1200px) {

    .introContent {
        gap: 5rem;
    }

    .tituloPrincipal {
        font-size: 4.8rem;
        padding-bottom: 2rem;
    }

    .subtituloPrincipal {
        font-size: 4rem;
    }

    .detalheIntro {
        width: 55rem;
    }

    .descricao {
        font-size: 2rem;
    }
}

@media (max-width: 1010px) {

    .introContent {
        gap: 5rem;
    }

    .tituloPrincipal {
        font-size: 4rem;
        padding-bottom: 2rem;
    }

    .subtituloPrincipal {
        font-size: 3.6rem;
        line-height: 5rem;
    }

    .detalheIntro {
        width: 50rem;
    }

    .descricao {
        font-size: 2rem;
    }
}

@media (max-width: 850px) {
    .introContent {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 5rem 0rem;
        gap: 4rem;
    }

    .programadorImg {
        width: 30%;
    }

    .tituloPrincipal {
        font-size: 3.6rem;
        text-align: center;
        padding-bottom: 2rem;
    }

    .subtituloPrincipal {
        font-size: 3.2rem;
        line-height: 4.5rem;
        text-align: center;
    }

    .detalheIntro {
        margin: 0rem auto;
        width: 45rem;
    }

    .descricao {
        font-size: 1.8rem;
        line-height: 1.3;
        padding-top: 5rem;
        padding-bottom: 10rem;
    }
}


@media (max-width: 500px) {

    .tituloPrincipal {
        font-size: 3rem;
    }

    .subtituloPrincipal {
        font-size: 2.8rem;
    }

    .detalheIntro {
        margin: 0rem auto;
        width: 30rem;
    }

    .descricao {
        font-size: 1.8rem;
        line-height: 1.5;
    }
}

@media (max-width:380px) {

    .detalheIntro {
        display: none;
    }

    .descricao {
        padding: 0rem 0rem 5rem 0rem;
    }
}